[submodule "yocto/poky"]
	path = yocto/poky
	url = git://git.yoctoproject.org/poky.git
[submodule "meta-python2"]
	path = yocto/meta-python2
	url = git://git.openembedded.org/meta-python2
[submodule "yocto/meta-rockchip"]
	path = yocto/meta-rockchip
	url = git://git.yoctoproject.org/meta-rockchip
[submodule "meta-openembedded"]
	path = yocto/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "yocto/openembedded-core"]
	path = yocto/openembedded-core
	url = git://git.openembedded.org/openembedded-core
